<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menace</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <style>
    body {
        padding-top: 45px;
    }
    
    form input[type='number'] {
        padding: 0px;
        margin: 0px;
    }
    </style>
</head>

<body>
    <!-- navbar begin -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('home') }}">Menace <span style="font-size: 12px; margin-left: -2px;">by <span style="font-family: 'Montserrat', sans-serif; font-size: 16px; margin-left: 1px;">BRACKET</span></span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Monitor</a></li>
                    <li class="active" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Tasks<span class="caret"></span><span class="sr-only">(current)</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-crosshairs" aria-hidden="true"></i> Bruteforce</a></li>
                            <li><a href="{{ url_for('add_cart_task') }}"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configure<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                            <li><a href="#"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Billing</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> {{ username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="well">
        <h1 style="text-align: center; margin-bottom: 30px;"><strong><i class="fa fa-shopping-cart" aria-hidden="true"></i> Add Cart Tasks</strong></h1>
        {% if success %}
        <div class="alert alert-success" role="alert"><b>Success!</b> Tasks have been added.</div>
        {% endif %}
        <form method=POST action="{{ url_for('add_cart_task') }}">
            <div class="row">
                <div class="form-group col-xs-12">
                    <select name="region" class="form-control">
                        <option>Region</option>
                        <option>US</option>
                        <option>CA</option>
                        <option>GB</option>
                        <option>DE</option>
                        <option>IT</option>
                        <option>FR</option>
                        <option>DK</option>
                        <option>NL</option>
                        <option>BE</option>
                        <option>AT</option>
                        <option>CZ</option>
                        <option>RU</option>
                        <option>AU</option>
                    </select>
                </div>
                <div class="form-group col-xs-12">
                    <label for="pid" class="sr-only"></label>
                    <input name="pid" class="form-control input-group-lg reg_name" type="text" name="pid" placeholder="PID" />
                </div>
                <div class="form-group col-xs-12">
                    <label for="size" class="sr-only"></label>
                    <select name="size" data-toggle="tooltip" data-placement="top" data-original-title="Choose single, multiple or a range of sizes." multiple class="form-control">
                        <option>3.5</option>
                        <option>4</option>
                        <option>4.5</option>
                        <option>5</option>
                        <option>5.5</option>
                        <option>6</option>
                        <option>6.5</option>
                        <option>7</option>
                        <option>7.5</option>
                        <option>8</option>
                        <option>8.5</option>
                        <option>9</option>
                        <option>9.5</option>
                        <option>10</option>
                        <option>10.5</option>
                        <option>11</option>
                        <option>11.5</option>
                        <option>12</option>
                        <option>12.5</option>
                        <option>13</option>
                        <option>13.5</option>
                        <option>14</option>
                        <option>14.5</option>
                        <option>15</option>
                        <option>15.5</option>
                        <option>16</option>
                        <option>16.5</option>
                        <option>17</option>
                        <option disabled></option>
                        <option>XS</option>
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        <option disabled></option>
                        <option>Bottle</option>
                    </select>
                </div>
                <div class="form-group col-xs-12">
                    <select name="proxy" data-toggle="tooltip" data-placement="top" data-original-title="Choose a random proxy, or select a specific one." class="form-control">
                        <option>Proxy</option>
                        <option>Random</option>
                        <option>2984.125.325.1236</option>
                        <option>124.125.325.1236</option>
                    </select>

                </div>
                <div class="form-group col-xs-3">
                    <input data-toggle="tooltip" data-placement="top" data-original-title="Specify the amount of tasks you would like to add." name="task_amount" id="colorful" class="form-control" type="number" value="1" min="1" max="99" />
                </div>
                <div class="form-group col-xs-9">
                    <button type="submit" class="btn btn-primary btn-block">Add</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-number-input.js') }}"></script>
    <script>
    $('#after').bootstrapNumber();
$('#colorful').bootstrapNumber({
  upClass: 'success',
  downClass: 'danger'
});

$('select[name=size]').tooltip({ /*or use any other selector, class, ID*/
    placement: "top",
    trigger: "hover"
});

$('select[name=proxy]').tooltip({ /*or use any other selector, class, ID*/
    placement: "top",
    trigger: "hover"
});

$('input[name=task_amount]').tooltip({ /*or use any other selector, class, ID*/
    placement: "top",
    trigger: "hover"
});
</script>
</body>
</html>